<!DOCTYPE html>
<html lang="en">
  <head>

  	<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
	<script type="text/javascript" src="static/jquery-1.11.2.min.js"> </script>
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
	<script src="static/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-filestyle.min.js"> </script>
  	 <script type=text/javascript>
    $(function() {
      $('a#translate').bind('click', function() {
        $.getJSON('/translate', {
          textVal: $('input[name="textVal"]').val(),
          langVal: $('input[name="langVal"]').val()
        }, function(data) {
          $("#translatedText").text(data.result);
        });
        return false;
      });
    });
  </script>


  	<style type="text/css">


		.machine-main{
			margin: 20px;
		}
		html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row
{
    height: 100%;
    display: table-row;
}
.col-md-3.no-float, .col-md-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-md-3
{
    display: table-cell;
    width: 50%;
}
.col-md-9
{
    display: table-cell;
    width: 50%;
}
.translateText {
    width: 250px;
    height:70px;
}
	</style>
  </head>
  <body>
    <div class="container">


      <div class="header">
        <h3 class="text-muted">PFBoys AlgoLab @ Guokr</h3>
      </div>
      <hr/>
      <div class="machine-main">
	    <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#text">谣言识别机</a></li>
		<li><a data-toggle="tab" href="#image">图片特征🐔</a></li>
		<li><a data-toggle="tab" href="#multi">Feature Detection</a></li>
		<li><a data-toggle="tab" href="#translate">Links</a></li>
		<!-- <li><a data-toggle="tab" href="#translate">Language Translation</a></li> -->


	    </ul>


	   <div class="tab-content">
		<div id="text" class="tab-pane fade in active">
		   </br>
		   </br>

		   <!-- Text Processing Starts Here-->





   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control" rows="5" placeholder="在这里输入文本，按下回车键确认。
提交谣言：rumor 谣言
提交真相：truth 真相
重新训练：retrain，稍等4~5秒
"></textarea>
        </div>
        <div class="col-md-6">
            <p id="result"></p>
        </div>
    </div>
   </div>
		   <!--Text Processing ends here-->

		</div>
		 <div id="image" class="tab-pane fade in">
		 		<div class="container">
				    <div class="row">
				        <div class="col-md-3 no-float">
			        		<br/>
						   <br/>
				      	    <form action="upload" method="post" enctype="multipart/form-data" target="createResult">
				               <input type="file" name="file" class="filestyle" data-input="false" ><br /><br />

				               <input type="submit" name="submit" value="&nbsp&nbsp Denoise Image &nbsp&nbsp" class="btn btn-default btn-success"><br /><br />
				      	      <input type="submit" name="submit" value="&nbsp&nbsp&nbsp Detect Face &nbsp&nbsp&nbsp&nbsp&nbsp" class="btn btn-default btn-success" ><br /><br />
				      	      <input type="submit" name="submit" value="Detect Blue Colour" class="btn btn-default btn-success" ><br /><br />
				      	      <input type="submit" name="submit" value="&nbsp Smoothen Image" class="btn btn-default btn-success" ><br /><br />
				      	    </form>

				        </div>
				        <div class="col-md-9 no-float">
				            <br/>
				            <br/>
                        <iframe name="createResult" width=850 height=400 frameBorder=0></iframe>
				        </div>
				    </div>
				</div>
		</div>


		<!-- Insert a div here for new tab-->

		 <div id="multi" class="tab-pane fade in">

		 <br/>
		 <br/>
		 				    <div class="row">
				        <div class="col-md-3 no-float">
		   <form action="multi" method="post" enctype="multipart/form-data" target="featureDetection">
            <input type="file" multiple="" name="file[]" class="filestyle" data-input="false"><br /><br/>
            <input type="submit" value="Detect Feature"  class="btn btn-default btn-success">
         </form>

         </div>
          <div class="col-md-9 no-float">
				            <br/>
				            <br/>
                    <div id="picWrap"></div>
                        <iframe name="featureDetection" width=850 height=400 frameBorder=0></iframe>
				        </div>
          </div>


		  </div>




	   	    <div id="translate" class="tab-pane fade in">

	   	    <div class="row">
	   	    	 <div class="col-md-50 no-float">


	   	    <div>
	   	    	<br/>
	   	    	<br/>
			      <p>




                    <p><a href="http://10.0.80.13:8088/caravel/welcome">Data Warehouse (在行)</a>
                    <p><a href="http://10.0.80.13:8090/">德鲁伊 console (在行)</a>
                    <p><a href="http://10.0.80.13:8081/">德鲁伊 cluster</a>
                    <p><a href="http://10.0.80.13:8001/?lang=zh_cn/">黑暗小屋</a>
          </div>
          </div>

			    <div class="col-md-3 no-float">

				        </div>

          </div>



	   		</div>





	   	<!--- Language Traslator-->





    </div>

       </div>

      <script type="text/javascript" src="static/js/jquery.js"></script>
      <script type="text/javascript" src="static/js/pic.js"></script>
      <script>

        $(function () {
          var xhr = new XMLHttpRequest(),
              file = $('#filestyle-1')[0].files[0],
              formData = new FormData(),
              state, summary,
              uploadBtnName = 'img';

          xhr.onreadystatechange = function(e) {
              if (xhr.readyState == 4) {
                  var data;
                  data = xhr.responseText;
                  try {
                      data = $.parseJSON(data);
                  } catch(e) {
                      data = {};
                      data[_option.errorCodeKey] = _option.defaultErrorCode;
                  }

                  showRect($('#picWrap'), data, 'picUrl');

              }
          };
          xhr.open('POST', _option.uploadUrl, true);
          xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
          xhr.setRequestHeader("Cache-Control", "no-cache");
          // append data
          getToken();
          formData.append(_option.uploadBtnName, file);
          formData.append('token', image_token.token);

          timeoutInterval = setTimeout(function() {
              timeoutInterval = null;
              isTimeout = true;
          },_option.timeout);
          xhr.send(formData);

          // showRect($('#picWrap'), 'data', 'picUrl');
        });
      </script>
    	<script type="text/javascript">
    $("textarea").keyup(function(e){
        console.log('keycode '+e.keyCode);
        switch (e.keyCode) {
            //case 8:  // Backspace
            //    console.log('backspace'+e);
            case 9:  // Tab
                console.log('Tab');
            case 13: // Enter
                console.log('Enter');

            var input = $('textarea').val();
            $('#result').removeClass("alert alert-warning");
            $('#result').removeClass("alert alert-danger");
            $('#result').removeClass("alert alert-success");

            if (input.substr(0, 5) == 'rumor' || input.substr(0, 5) == 'truth' || input.substr(0,7) == 'retrain'){
            $.get('/api/v1/sentiment_upload/'+input,function(result){
                if(result.action == 1){
                    $('#result').addClass("alert alert-danger").text('感谢告诉我谣言！');
                }
                if(result.action == 0){
                    $('#result').addClass("alert alert-danger").text('感谢告诉我真相！');
                }
                if(result.action == 2){
                    $('#result').addClass("alert alert-danger").text('重新整理思绪完毕，我现在比刚才更聪明了！');
                }
          })
            }

            else if (input.length > 0){

            $.get('/api/v1/sentiment/'+input,function(result){

                if(result.polarity == 1){
                    $('#result').addClass("alert alert-danger").text('输入有误');
                }
                else if( result.polarity >= 0.55 ){
                    $('#result').addClass("alert alert-danger").text('很可能是谣言喔，谣言指数：' + result.polarity);
                }
                else if( result.polarity >= 0.35 && result.polarity < 0.55){
                    $('#result').addClass("alert alert-warning").text('不太确定，谣言指数：' + result.polarity);
                }
                else{
                    $('#result').addClass("alert alert-success").text('应该是真话吧，谣言指数：' + result.polarity);
                }

            })
            }

            case 37: // Left
                console.log('Left');
            case 38: // Up
                console.log('Up');
            case 39: // Right
                console.log('Right');
            case 40: // Down
                console.log('Down');
            break;

            default:

    }


    });

</script>
    <footer class="footer" role="contentinfo">
                  <div class="container">
                            <p class="text-center">果壳网机器学习算命组 all rights reserved.</p>
                  </div>
    </footer>

  </body>
</html>

